name: 获取 pull request 变更的文件
on:
  # 在 pr 创建和同步（有新提交）时触发 
  pull_request:
    types: [opened, synchronize]
     
jobs:
  get-changed-files:
    runs-on: ubuntu-latest
    steps:
      - name: 使用 actions/checkout action
        # 将你的 GitHub 仓库代码，拉取（checkout）到运行当前工作流的虚拟服务器（Runner）上
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      #- name: 初始化 node 环境
      #  uses: actions/setup-node@v4
      #  with:
      #    node-version: 20
          
      - name: 初始化 bun 环境
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: 设置环境变量
        run: |
          echo "BASE_COMMIT=${{ github.event.pull_request.base.sha }}" >> $GITHUB_ENV
          echo "HEAD_COMMIT=${{ github.event.pull_request.head.sha }}" >> $GITHUB_ENV

      - name: 获取变更的文件
        id: changed-files
        run: |
          # 获取所有改动的文件列表
          CHANGED_FILES=$(git diff --name-only $BASE_COMMIT $HEAD_COMMIT)
          echo "CHANGED_FILES<<EOF" >> $GITHUB_ENV
          echo "$CHANGED_FILES" >> $GITHUB_ENV
          echo "EOF" >> $GITHUB_ENV

          # 统计改动文件数量
          CHANGED_FILES_COUNT=$(echo "$CHANGED_FILES" | wc -l | tr -d ' ')
          echo "CHANGED_FILES_COUNT=$CHANGED_FILES_COUNT" >> $GITHUB_ENV

      - name: 展示变更的文件
        run: |
          echo "改动的文件数量: $CHANGED_FILES_COUNT"
          echo "改动的文件列表:"
          echo "$CHANGED_FILES"

      - name: 获取变更文件的内容
        run: |
          echo "开始读取改动文件的内容:"
          echo "======================="
          
          bun .script/getContent.js $CHANGED_FILES

          echo "-----------------------"

